name: test feature

# Does not run on PUSH since we have already ran all the test
on:
  pull_request:
    branches: [ main ]
  release:
    types: [ published ]
  workflow_dispatch:

env:
  scripts_path: ${{ github.workspace }}\build\scripts
  tools_path: ${{ github.workspace }}\build\Tools
  DOTNET_NOLOGO: true

jobs:
  
  set_agent_validation:
    runs-on: windows-2019
    steps:
    - name: set agent version
      run: |
        echo "agent_version=8.4" >> $GITHUB_ENV
      shell: powershell
      
  get_agent_validation:
    runs-on: windows-2019
    steps:
    - name: get agent version
      run: |
        write-host "${{ env.agent_version }}"
      shell: powershell

      
